.grant-titel{
    max-width: 808px;
    height: 72px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    margin-bottom: 40px;
    h1{
        text-align: center;
        font-size: 60px;
        font-style: normal;
        font-weight: 700;
        color: #fff;
    }
}




.grant-ul{
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 0px 108px;
    li:hover{
        background: #393953;
        color: #fff;
    }

    a { 
        font-family: Circular Std;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        color: #C8C7D8;
        text-align: center;
        text-decoration: none;
    }
    ul{
        align-items: center;
        text-align: center;
        display: flex;
        max-width: 1224px;
        height: 48px;
        gap: 24px;
    }
    li{
        padding: 12px 16px;
        border-radius: 7px;
        // width: 100%;
        text-align: center;
        align-items: center;
    }



    
}
.switch{
        
    display: flex;
    // flex-direction: column;
    gap: 16px;
    padding: 0px 108px;
    p{
        text-align: center;
        font-family: Circular Std;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        color: #C8C7D8;
        align-items: center;
    }
}