.content{
    max-width: 808px;
    height: 352px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    position: relative;
    
    h1{
        text-align: center;
        color: #fff;
        font-family: Circular Std;
        font-size: 80px;
        font-style: normal;
        font-weight: 700;
        // padding-bottom: 40px;
    }


    .line{
        position: absolute;
        right: 83px;
        // top: 300px;
        // padding-bottom: 40px;
    }
    .buttons{
        width: 392px;
        display: flex;
        align-items: center;
        padding-top: 40px;
        justify-content: center;
        margin: 0 auto;
        gap: 16px;
        .button-1{
                width: 180px;
                height: 48px;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                border-radius: 7px;
                background: #292956;
                opacity: 0.8;

                border: none;
            
                text-align: center;
                padding: 12px 16px;
                margin: 0 auto;
                color: #fff ;
        }
        .button-2{
            width: 180px;
            height: 48px;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            border-radius: 7px;
            // background: #393953;
            border: none;
            text-align: center;
            padding: 12px 16px;
            margin: 0 auto;
            color: #fff ;
            background:#6966FF;
            
    }



    }

    
}